*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    display: flex;
    background-color: rgb(41, 44, 83);
    justify-content:center;
    align-items: center;
    display: flex;
    height: 100vh;

}

main{
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.all{
    background-color: red;
    padding: 10px;
}

